/*  Font  ------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*  Color variables --------------------------------------------*/
:root {
    --dark-blue-bg: hsl(218, 28%, 13%);
    --dark-blue-secound-bg: hsl(217, 28%, 15%);
    --dark-blue-footer: hsl(216, 53%, 9%);
    --dark-blue-testimonials: hsl(219, 30%, 18%);
    --white: hsl(0, 0%, 100%);
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --light-red: hsl(0, 100%, 63%);
}

/*  Global classes  ------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%; 
    height: 100%;
    background: var(--dark-blue-secound-bg);
    font-size: 14px;
}

/* App --------------------------------------------------- */
.App {
    width: 100%;
    color: var(--white);
}

/* Navbar */
.App .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.App .navbar .buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.App .navbar .buttons button {
    background: transparent;
    border: none;
    outline: none;
    color: rgba(256, 256, 256, 0.7 );
    cursor: pointer;
}

.App .navbar .buttons button:hover {
    text-decoration: underline;
    font-weight: 700;
    color: var(--white);
}

/* Intro */
.App .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding-bottom:20rem;
    background: url("assets/images/bg-curvy-desktop.svg") no-repeat bottom  ;
    background-size: 100%;
}

.App .intro h1 {
    font-size: 1.7rem;
    max-width: 500px;
}

.App .intro p:last-child {
    max-width: 400px;
}

.App .intro button {
    padding: 0.6rem 4.5rem;
    border-radius: 2rem;
    background: var(--blue);
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--white);
}

.App .intro button:hover {
    background: var(--cyan);
}

/* benefit */
.App .benefit {
    width: 100%;
}

.App .benefit >ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, fit-content(400px));
    place-content: center;
    gap: 4rem;
    background: var(--dark-blue-bg);
}

.App .benefit >ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    max-width: 400px;
}

.App .benefit >ul li >img {
    padding-bottom: 0.5rem;
    height: 6rem;
}

/* Media Screen */
@media (max-width: 1000px) {
     /* Intro */
     .App .intro {
        padding-bottom: 15rem;
    } 
}

@media (max-width: 800px) {
    /* Navbar */
    .App .navbar {
        padding: 2rem;
    }
    .App .navbar .logo {
        width: 7rem;
    }
    /* Intro */
    .App .intro {
        padding-bottom: 10rem;
    }
    .App .intro img {
        width: 100%;
    }

    /* Benefit */
    .App .benefit ul {
        grid-template-columns: 1fr;
    }

    .App .benefit >ul li {
        max-width: none;
        justify-content: center;
        padding: 0 1rem;
    }

    .App .benefit >ul >li >p {
        max-width: 400px;
    }
}

@media (max-width: 500px) {
    /* Navbar */
    .App .navbar {
        padding: 1.5rem;
    }

    .App .navbar .logo {
        width: 5rem;
    }

    .App .navbar .buttons {
        gap: 1rem;
    }
    /* Intro */
    .App .intro {
        padding: auto 1rem;
        padding-bottom: 3rem;
        background: url('/assets/images/bg-curvy-mobile.svg')no-repeat bottom ;
        background-size: 100%;

    }
}